*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.editor-btn{
    border: none;
    background: none;
    cursor: pointer;
    margin: .2rem 0 0 .5rem;
    color: white;
}

.window{
    height: 50vh;
    display: flex;
}

.top-window{
    background: rgb(32, 26, 36);
}

.editor-container{
    background: rgb(32, 26, 36);
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    padding: .5rem;
    transition: .4s ease-out;
}

.editor-container.closed .CodeMirror-scroll{
    position: absolute;
    overflow: hidden !important;
}
.editor-container.closed{
    flex-grow: 0;
}

.editor-title{
    color: white;
    padding: .2rem .5rem .4rem 1rem;
    display: flex;
    justify-content: space-between;
}

.CodeMirror {
    height: 100% !important;
}

.code-mirror-editor{
    flex-grow: 1;
    overflow: hidden;
}
